mixin del-btn   
    button.del-btn(type="button")&attributes(attributes)
        <svg class="del-btn__img" width="15" height="15" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.30322 15.9099L15.9098 5.30334" stroke="#FB0000" stroke-opacity="0.7" stroke-width="3" stroke-linecap="round"/>
            <path d="M15.9099 15.9099L5.30331 5.30334" stroke="#FB0000" stroke-opacity="0.7" stroke-width="3" stroke-linecap="round"/>
        </svg>
style. 
    .del-btn {
        width: max-content;
        padding: 2px;
        border-radius: 3px;
        transition: background .3s linear;
    }

    .del-btn:focus,
    .del-btn:hover {
        background: #45464c30;
    }

    .del-btn__img {
        vertical-align: middle;
    }