mixin radio-button(text="")
    label.radio-button
        input.radio-button__btn(type="radio")&attributes(attributes)
        span.radio-button__style
        span.radio-button__text=text
        block

style. 
    .radio-button {
        display: flex;
        align-items: center;
        min-width: max-content;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }

    .radio-button:hover .radio-button__text{
        box-shadow: 0px 4px 2px -2px rgba(80, 0, 251, 0.4);
    }

    .radio-button__btn {
        width: 1px;
        height: 1px;
        position: absolute;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .radio-button__btn:disabled ~ .radio-button__style,
    .radio-button__btn:disabled ~ .radio-button__text {
        opacity: 0.5;
    }

    .radio-button__btn:disabled:hover ~ .radio-button__text {
        box-shadow: none;
        cursor: default;
    }

    .radio-button__style {
        display: inline-block;
        position: relative;
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 0.5rem;
        border-radius: 5rem;
        border: 1px solid #675C5C;
    }

    .radio-button__text {
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        transition: box-shadow .3s linear;
    }

    .radio-button__btn:checked + .radio-button__style {
        border: 1px solid #BC9CFF;
    }

    .radio-button__btn:focus ~ .radio-button__text{
        box-shadow: 0px 4px 2px -2px rgba(80, 0, 251, 0.4);
    }

    .radio-button__btn:checked + .radio-button__style::before {
        content: "";
        position: absolute;
        transform: translate(25%, 25%);
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }