mixin textarea
    textarea.textarea.field&attributes(attributes)

style. 
    .textarea {
        padding: 0 1rem;
        resize: none;
        overflow: hidden;
    }
script
    include ../../utils/debounce.js
script(defer type="module"). 
    let debouncedResize = debounce(resize, 200);

    let textareas = document.querySelectorAll('.textarea');
    for (let i = 0; i < textareas.length; i++) {
        textareas[i].addEventListener('input', debouncedResize);
        
        if (textareas[i].scrollHeight > textareas[i].offsetHeight) {
            resize(textareas[i]);
        }
    }
    
    function resize(e) {
        console.log(1)
        let target = e.target ? e.target : e;
        target.style.height = '2.5rem';
        target.style.height = `${target.scrollHeight}px`;
    }