mixin textarea
    textarea.textarea.field&attributes(attributes)

style. 
    .textarea {
        padding: 0 1rem;
        resize: none;
        overflow: hidden;
    }

script(defer type="module"). 
    let textareas = document.querySelectorAll('.textarea');
    
    for (let i = 0; i < textareas.length; i++) {
        textareas[i].addEventListener('input', resize);
        
        if (textareas[i].scrollHeight > textareas[i].offsetHeight) {
            resize({ currentTarget: textareas[i] });
        }
    }

    function resize({ currentTarget }) {
        currentTarget.style.height = '2.5rem';
        currentTarget.style.height = `${currentTarget.scrollHeight}px`;
    }