mixin workers(title)
    - let workers = ["Дёмин А.П. гр. V", "Бахтияров Р.В. гр. V", "Сержанков С.Н. гр. V", "Корнеев А.А. гр. V"]
    +plate&attributes(attributes)
        .workers
            h3.title.workers__title=title
            .workers__list
                block
               

style.
    .workers__title {
        margin-bottom: 2rem;
    }
    
    .workers__list {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
        gap: 2rem 4rem;
        padding: 0 2rem;
        font-size: 1.2rem;
    }