include ./plate.pug 

mixin workers(title)
    +plate&attributes(attributes)
        .workers
            h3.title.workers__title=title
            ul.workers__list
                block

style.
    .workers__title {
        margin-bottom: 2rem;
    }
    
    .workers__list {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
        gap: 2rem 4rem;
        padding: 0 2rem;
        font-size: 1.2rem;
    }